//FONTS
.fancy-header{
    font-family: 'Pacifico', cursive;
}
.bold-header{
    font-family: 'Passion One', cursive;
    text-transform: uppercase;
}
.thin-header{
    font-family: 'Poiret One', cursive;
}
.center{
	text-align:center;
}
.supa-size{
	font-size:7em;
}
.section{
	padding:300px 0px;
}
.bleed-grey {
  background: rgba(0, 0, 0, 0.5);
}
.white{
	color:white;
} 
.close{
	margin-bottom:0em;
	line-height:1em;
}